body{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#abc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.title{
  font-size: 2.5em;
  font-family: Impact, Charcoal, sans-serif;
  font-style: oblique;
  text-align: center;
}
