p.title{
  font-family: Impact, Charcoal, sans-serif;
  font-style: oblique;
  font-size: 40px;
}

p.subtitle{
  font-family: Impact, Charcoal, sans-serif;
  font-style: oblique;
  font-size: 20px;

}


